#hoje{
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    min-width: 350px;
    height: 60px;
    margin:auto;
    display: flex;
    justify-content:space-around;
    
}
#te{
    
    margin-top: 0px;
    margin: auto;
    max-width: 800px;
    min-width: 350px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.075);
 
}

h1,p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20pt;
    color: rgb(181, 138, 221);
}



input{
    display: block;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
}
#frases{
    
    margin: auto;
    padding-top: 20px;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-family: monospace;
    font-style: italic;
    font-size: 20pt;
    color: rgb(18, 6, 29);
  
}
footer{
    margin-top: 10px;
    text-align: center;
}